.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
}

.badge1 {
    background-color: #ffc107;
}

.badge2 {
    background-color: #17a2b8;
}

.badge3 {
    background-color: #28a745;
}

.badge4 {
    background-color: #dc3545;
}
